<div class="container" [style.gap.px]="getKeyboardGap$()">
  <div *ngFor="let lines of getHHKBKeyboardConfig$()|async; index as index"
       [class]="'line'"
       [ngClass]="{'last-line': isLastLine(index)}"
       [style.gap.px]="getKeyboardGap$()">
    <app-keyboard-item *ngFor="let kii of lines" [variant]="kii.variant" [line1]="kii?.line1" [line2]="(kii)?.line2"
                       [width]="kii.width ?? getDefaultWidth$()"
                       [height]="kii.height ?? getDefaultHeight$()"
                       [color]="kii.color"
                       [flag]="kii.flag"
    ></app-keyboard-item>
    <div *ngIf="isLastLine(index) " class="logo"><img height="52" src="../../assets/images/hhkb-logo.png"></div>
  </div>
</div>
