.container {
  font-size: 24px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 32px;
  line-height: 1.8;
  word-break: break-all;
  letter-spacing: 1px;

  font-family: 'my-times', "Times New Roman", serif;
}

.container:focus {
  outline: 0;
}

@font-face {
  font-family: 'my-times';
  src: local("Times New Roman"), local('Times'), url("src/assets/fonts/times.ttf");
}


.blur {
  filter: blur(4px);
}

.info1 {
  margin:auto;
}

.info-panel {
  display: flex;
  margin: 16px 0;
  height: 32px;
}
