/* You can add global styles to this file, and also import other style files */

:root {
  --hhkb-keyboard-bg-color: rgb(218,216,206);
  --hhkb-keyboard-key-milk-white-color: rgb(182,180,170);
  --hhkb-keyboard-key-grey-color: rgb(158,161,155);
}
